<div class="row">
    <div class="col-xs-12">
      <form [formGroup]="developerForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-xs-12">
            <button type="submit" class="btn btn-success" [disabled]="!developerForm.valid">Save</button>
            <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
          </div>
        </div>
        <div>
            <h1>Developer Form</h1>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" id="name" formControlName="name" class="form-control"
              >
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="imagePath">Image URL</label>
              <input type="text" id="imagePath" formControlName="imagePath" class="form-control" #imagePath
              >
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <img [src]="imagePath.value" class="img-responsive" style="max-height: 300px">
          </div>
        </div>
      </form>
    </div>
  </div>
  