.grid-item {
    font-size: 20px;
    text-align: center;
    margin: 10px;
    width: auto;
  }

  .image-to-fit{
    max-height: 200px;
    background-size: contain!important;
    background-repeat: no-repeat!important;
    background-position: center center!important;
  }