<div class="row">
    <div class="col-xs-5">
            <img
            [src]="game?.imagePath"
            alt="{{ game?.name }}"
            class="img-responsive"
            style="
            height: 300px;
            width: 220px;
            ">
    </div>
    <div class="col-xs-7">
                <h1>{{ game?.name }}</h1>
                <p>{{ game?.description }}</p>
        
        <h2>Genres : </h2>
        <div *ngFor="let genre of game?.genres">
            <p>{{genre}}</p>
        </div>
        <hr>

        <h2>Games you would like : </h2>
        <div *ngFor="let suggestion of suggestions">
            <p>{{suggestion}}</p>
        </div>
        <hr>
    </div>
    <button class="btn btn-danger" (click)="onDeleteGame()">Delete</button>
</div>
<hr>
<div *ngIf="Loaded" class="row">
        <div class="col-md-7">
            
           
            <app-characters-grid
            [game]="game"
            ></app-characters-grid>
            <hr>
            <app-developers-grid
            [game]="game"></app-developers-grid>
        </div>
            <div class="col-md-5">
                <router-outlet> </router-outlet>
            </div>
</div>
